<html>
<head> 
	<title>Node Angular App</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
<view:Port data-ng-app="testApp">
	<div data-menu options="menuItems" data-ng-controller="menuController"></div>
</view:Port>
<!-- libraries -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<!-- app related scripts -->
<script type="text/javascript" src="../js/app/module.js"></script>
<script type="text/javascript" src="../js/app/directives.js"></script>
<script type="text/javascript" src="../js/app/menuController.js"></script>

</body>

<html>